@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


@import "reset.css";
@import "variables.css";

@import "compotent/status-bar.css";
@import "compotent/nar_var.css";
@import "compotent/screen-header.css";
@import "compotent/user-component.css";

@import "screen/login.css";
@import "screen/frineds.css";

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 1000vh;
    color:#2e363e;
}









