@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


@import "reset.css";
@import "variables.css";

@import "compotent/status-bar.css";
@import "compotent/nar_var.css";
@import "compotent/screen-header.css";
@import "compotent/user-component.css";
@import "compotent/badge.css";
@import "compotent/icon-raw.css";

@import "screen/login.css";
@import "screen/frineds.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/kokoka.css";

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: 1000vh;
    color:#2e363e;
}

.main-screen{
    padding:0px var(--horizontal-space);
}









