.chat-back__body{
    background-color: #abc1d1;
}
.chat-back-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
    margin-bottom: 15px;
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
.chat-back-header__column{
    width:33%;
}
.last {
    display: flex;
    justify-content: flex-end;
}
.chat-back-header__title{
    display:flex;
    justify-content: center;
    font-size: 20px;
}
.chat-back-header__column span{
    margin-left: 25px;
}
.chat-back-screen{
    margin-top: 100px;
}
/* .chat-time{
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding:5px;
    text-align: center;
    border-radius: 10px;
    display:flex;
    align-items: center;
    position: absolute;
    top: 10px;
} */

.chat-time{
    background-color: rgba(0,0,0,0.5);
    color:white;
    padding:5px;
    border-radius: 10px;
    text-align: center;
    
}

.chat-talking{
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.chat-talking :first-child{
    display:flex;
    align-items: center;
}
.chat-talking__column img{
    width: 50px;
    height: 50px;
    border-radius: 17px;
}
.chat-talking__tittle{
    margin-top: -7px;
    margin-left: 10px;
    font-size:15px;
}