.screen-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-top: 40px;
}
.screen-header__tittle{
    font-size: 28px;
    font-weight: bolder;
}
.screen-header__icon span{
    margin-left: 25px;
}