.screen-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.screen-header__tittle{
    font-size: 28px;
    font-weight: bolder;
}
.screen-header__icon span{
    margin-left: 25px;
    position: relative;
}
.screen-header__gear{
    background-color: tomato;
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    color:white;
    position: absolute;
    left: 77px;
    bottom: 30px;
}