.settings-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.settings-header__title{
    font-size: 20px;
}
.settings-screen__part{
    border-bottom: var(--main-border);
}
.icon-row__settings{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top:30px;
}
.icon-row__settings-icon{
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 17px 0px;
    margin: 0px 10px;
}
.icon-row__settings-icon i{
    margin-right: 10px;
}